<html>
    <head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
<body>
<div style = "margin:150px 450px">
    <form action ="asciify/result" method="post">
    <!--get방식을 통해서 result로 보내질것임 이거는 url에 데이터가 다 보임-->
    <!--post방식은 로그인하는 것 같은 사용자가 데이터를 입력할때-->
    
    <div><h1>입력</h1></div>
    <div class = "form-group">
    <label>폰트를 선택해 주세요</label>
    <select name = "input_font" class="form-control input">
        <option value = "standard">일반</option>
        <option value = "big">크게</option>
        <option value = "small">얇게</option>
    </select>
    </div>
    
    <div class = "form-group">
    <label for="select">사자를 선택해주세요</label>
    <select name="input_lion" class="form-control input">
        <option value = "OLD LION">늙은 사자</option>
        <option value = "HANDSOME LION">멋쟁이 사자</option>
        <option value = "YOUNG LION">젊은 사자</option>
    </select>
    </div>

    
<div class="form-group">
    <label for="exampleInputName">이름</label>
    <input type="text" class="form-control" name = "input_name" id="exampleInputName" placeholder="이름을 입력하세요" >
  </div>
  
  <div class="form-group">
    <label for="exampleInputPhone">번호</label>
    <input type="text" class="form-control" name = "input_tel" id="exampleInputPhone" placeholder="전화번호를을 입력하세요">
  </div>

        
    <div class="form-group">
    <label for="exampleInputSubmit">제출</label><br>
    <input class="btn btn-default" type="submit" value="ASCIIFY">
    </div>
    </form>
</div>
</body>
</html>
<!--태그의 네임은 해쉬에서 키가 되서 넘어가게 되는 것이고 value는 사용자가 입력한 텍스트의 값이 값이 되는 것임-->
<!--파라미터가 해쉬로 기록이 되서 넘어감-->