<html>
    <head>
        
    </head>
<body bgcolor = "ivory">
    <div style = "margin: 150px 450px">
    <h1>RESULT</h1>
    <p> 입력한 폰트 : <%= @font %> </p>
    
    <div style="background-color:#E8BD91">
    <pre><%= @output_name %></pre>
    </div>
    
    <div style = "background-color:#684622">
    <pre><%= @output_tel %></pre>
    </div>
    
    <div style = "background-color:#B59371">
    <pre><%=@output_lion%></pre>
    </div>
    
    <a href = "/">Back to Index</a>
</div>
</body>
</html>